@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TrainingFPTCo.Models.LoginViewModel

@{
    ViewData["title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section>
    <div class="form-box">
        <div class="form-value">
            @using(Html.BeginForm("Index", "Login", FormMethod.Post))
            {
            <form action="">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    @* <input class="form-control" type="text" placeholder="Username"> *@
                    @Html.TextBoxFor(m => m.UserName, new { @class
                    = "form-control", @id
                    = "username"
                    })
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    @* <input class="form-control" type="password" placeholder="Password"> *@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id="password" })
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>

                </div>
                <button>Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
            }
        </div>
    </div>
</section>